header {
  display: flex;
  justify-content: flex-end;
}

.chg-theme {
  font-size: 20px;
  font-weight: 700;
  display: flex;
  margin-top: 10px;
}

.chg-theme__col {
  display: flex;
  justify-content: center;
  align-items: center;
}
.chg-theme__col:last-child {
  width: 30px;
  height: 30px;
  margin-left: 15px;
  padding: 5px;
  background-color: var(--yellow);
  border-radius: 50%;
}

.chg-theme div:nth-child(2):hover {
  box-shadow: var(--btn-shadow);
  cursor: pointer;
}

.chg-theme div:nth-child(2) {
  transition: all 0.2s ease-in-out;
}
