.clock-wheather {
  display: flex;
  justify-content: space-between;
}

.clock {
  width: 33vmax;
  height: 16vmin;
  display: flex;
}

.clock-hours,
.clock-minutes,
.clock-seconds {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 11vmax;
  height: 16vmin;
  background-color: rgb(30, 30, 30);
  border-radius: 15px;
}

.clock-inner {
  display: flex;
  width: 5.2vmax;
  height: 14.5vmin;
  justify-content: center;
  align-items: center;
  background-color: rgb(15, 15, 15);
  border-radius: 10px;
  box-shadow: 2px -3px 4px rgba(0, 0, 0, 0.8);
}

.clock-inner span {
  color: whitesmoke;
  font-weight: 900;
  font-size: 7vmax;
}

.weather {
  width: 17vmax;
  height: 16vmin;
  background-color: rgb(30, 30, 30);
  border-radius: 20px;
  padding: 1vmin 1.3vmax;
  box-sizing: border-box;
}

.today-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.today-info__date {
  font-size: 2vmax;
  font-weight: 900;
  color: whitesmoke;
}

.today-info__ampm {
  font-size: 1.2vmax;
  font-weight: 900;
  color: whitesmoke;
}

.weather-info {
  margin-top: 1vmin;
  display: flex;
  height: 9vmin;
  justify-content: space-between;
  align-items: center;
}

.weather-info__city-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 8vmax;
  color: whitesmoke;
  font-weight: 900;
}

.weather-info__city-info__city {
  font-size: 1.6vmax;
  margin-bottom: 0.5vmax;
}
.weather-info__city-info__temp {
  font-size: 1.3vmax;
}

.weather-info__main-weather {
  display: flex;
  justify-content: center;
  align-items: center;
}

.weather-info__main-weather img {
  height: 4vmax;
  width: 4vmax;
}
