.todo-list__box {
  display: flex;
  flex-direction: column;
  width: inherit;
  height: inherit;
}

.todo-list__status-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5vmin;
}

.todo-list__status,
.todo-list__dlt-all {
  height: 3.5vmin;
  width: 11.5vmax;
  border-radius: 7px;
  font-size: 1.5vmax;
  font-weight: 900;
  padding: 1vmin 1vmax;
  box-sizing: border-box;
}

.todo-list__dlt-all {
  background-color: var(--btn-yellow);
  display: flex;
  justify-content: center;
  align-items: center;
}
.todo-list__dlt-all:hover,
.todo-list__delete-btn:hover {
  cursor: pointer;
  box-shadow: var(--btn-shadow);
}

.todo-list__status {
  background-color: #d0cece;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo-list__delete-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vmin;
  width: 100%;
  border-radius: 7px;
  font-size: 1.5vmax;
  font-weight: 700;
  padding: 1vmin 1vmax;
  box-sizing: border-box;
  background-color: #bfbfbf;
  border: none;
  cursor: pointer;
  margin-top: 1.5vmin;
}

.todo-create {
  color: black;
}
.todo-delete {
  color: rgb(188, 0, 0);
}

.todo-list__delete-btn i {
  margin-right: 10px;
}
.todo-list__todos {
  width: 100%;
  overflow: auto;
}

.todo-list__todos::-webkit-scrollbar {
  width: 6px;
  border-radius: 10px;
}

.todo-list__todos::-webkit-scrollbar-thumb {
  background-color: rgb(247, 247, 247);
  border-radius: 10px;
  height: 25%;
}

.todo-list__todos::-webkit-scrollbar-track {
  background: rgb(89, 91, 91);
}

.todo-list__todo {
  width: 100%;
  height: 5vmin;
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  margin-bottom: 1vmin;
  padding: 1vmin 0.6vmax;
  box-sizing: border-box;
}

.todo-color {
  width: 2vmax;
  height: 2vmax;
  border-radius: 0.3vmax;
  background-color: yellow;
}

.todo-name {
  color: rgb(36, 35, 35);
  font-weight: 100;
  font-size: 1.2vmax;
  font-family: 'Anton', 'Black Han Sans';
  width: 65%;
  margin-left: 1vmax;
  letter-spacing: 0.1em;
}
.todo-btn__todo-toggle {
  display: flex;
  justify-content: center;
}

.toggleSwitch {
  width: 4vmax;
  height: 3vmin;
  display: block;
  position: relative;
  border-radius: 2vmax;
  background-color: #a9d18e;
  box-shadow: 1px 0.5px 4px 0px rgba(0, 0, 0, 0.75);
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.toggleSwitch .toggleButton {
  width: 2vmax;
  height: inherit;
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translateY(-50%);
  border-radius: 1.2vmax;
  background: #f2f2f2;
  transition: all 0.3s ease-out;
}

.toggleChk:checked ~ .toggleSwitch .toggleButton {
  left: calc(100% - 2vmax);
}

.toggleChk:checked ~ .toggleSwitch {
  background-color: #d9d9d9;
}

.todo-btn__dlt-each {
  width: 5vmax;
  display: flex;
  justify-content: flex-end;
  font-size: 1.5vmax;
  color: brown;
}

.todo-btn__dlt-each i {
  padding-right: 1vmax;
  cursor: pointer;
}

.todo-name__done {
  text-decoration: line-through;
}

.todo-list__todo-done {
  background-color: #888888;
}

.color1 {
  background-color: #ffd966;
}
.color2 {
  background-color: #0070c0;
}
.color3 {
  background-color: #00b050;
}
.color4 {
  background-color: #ff3300;
}
.color5 {
  background-color: #c1121f;
}
.color6 {
  background-color: #8d0801;
}
.color7 {
  background-color: #669bbc;
}
.color8 {
  background-color: #6a994e;
}
.color9 {
  background-color: #003049;
}
.color10 {
  background-color: #bf0603;
}
.color11 {
  background-color: #f4d58d;
}
.color12 {
  background-color: #cfbaf0;
}
.color13 {
  background-color: #b9fbc0;
}
