.calendar {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 10px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
}

.calendar-yearmonth {
  padding: 14px 20px 10px 20px;
  display: flex;
  justify-content: space-between;
  font-size: 1.2vmax;
  font-weight: 900;
  align-items: center;
}

.calendar-yearmonth__btn {
  background-color: var(--btn-yellow);
  padding: 15px;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
}
.calendar-yearmonth__btn:hover {
  box-shadow: var(--btn-shadow);
  cursor: pointer;
}

.calendar-days {
  display: flex;
  width: 100%;
  padding: 0 10px;
  box-sizing: border-box;
  justify-content: space-between;
  margin-bottom: 5px;
}

.calendar-day {
  width: 2.5vmax;
  padding: 5px 0;
  text-align: center;
  background-color: white;
  border-radius: 10px;
  font-weight: 700;
}

.calendar-days div:nth-child(1) {
  color: rgb(248, 95, 95);
}
.calendar-days div:nth-child(7) {
  color: rgb(82, 82, 253);
}

.calendar-date {
  display: flex;
  flex-direction: column;
  padding: 5px 18px;
}

.calendar-date__row {
  display: flex;
  box-sizing: border-box;
  padding-bottom: 8px;
  justify-content: space-between;
}

.calendar-date__col {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.8vmax;
  height: 1.8vmax;
  border-radius: 50%;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.9);
}

.calendar-date__today {
  background-color: #ff8585;
  color: white;
  border: none;
}

.calendar-date__event {
  border: 1px solid red;
}
